@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CityPoint Room Hire Front Page!</h1>
    <p>We ask that you sign in to your existing account or register your new account with us.</p>
</div>
